<div class="modal-header" style="backdrop-filter : blur(15px); background-color: #f8ac03">
    <img src="./assets/img/token.png" style="width: 32px; margin-right: 5px;" class="img-fluid">
    <h4 class="modal-title" style="color: white;">Bonksters Free Mint Token</h4>
    <button type="button" ngbAutofocus class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="username" style="font-size: 16px; font-weight: bold;">Token Name: </label>
    </div>
    <div class="form-group">
        <label for="username" style="font-size: 15px; margin-left: 10px;">BONKSTERS FREE MINT (BFM)</label>
    </div>
    <div class="form-group">
        <label for="username" style="font-size: 16px; font-weight: bold;">Token Address: </label> 
    </div>
    <div class="form-group">
        <a style="margin-left: 10px; font-size: 15px; " href="https://solscan.io/token/DS1uBcq4jYtLxw9gX6HkZapaDd52RhtcJEHeZepca5ow">DS1uBcq4jYtLxw9gX6HkZapaDd52RhtcJEHeZepca5ow</a>
    </div>
    <div class="form-group">
        <label for="username" style="font-size: 16px; font-weight: bold;">Current Supply: </label> 
    </div>
    <div class="form-group">
        <label for="username" style="font-size: 15px; margin-left: 10px;">1486</label>
    </div>
</div>
