<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned" style="background-color: black;">
  <div class="container">
    <a [routerLink]="['/home']">
      <img src="./assets/img/bonksters.png" width="80px" height="80px">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed" style="background-color: black;">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/bonksters.png" width="80px" height="80px">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span style="background-color: white;"></span>
              <span style="background-color: white;"></span>
            </button>
          </div>
        </div>
      </div>
      <!--<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <a class="nav-link no-caret" [routerLink]="['/shop']">
          <i class="fa fa-shopping-cart fa-lg" style="color: white;"></i>
          <span class="nav-link-inner--text" style="color: white;">Shop</span>
        </a>
        <a class="nav-link no-caret" [routerLink]="['/hub']">
          <i class="fa fa-codepen fa-lg" style="color: white;"></i>
          <span class="nav-link-inner--text" style="color: white;">Hub</span>
        </a>

      </ul> -->
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="border-radius: 5em; box-shadow: 0px 0px 40px 5px rgb(114, 1, 206);">
            <i *ngIf="!connected" class="fa fa-user-circle fa-xl"></i>
            <a *ngIf="!connected" class="nav-link-inner--text">Profile</a>
            <img *ngIf="connected" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="{{profile.img}}" style="width: 32px; display: inline-block; margin-right: 10px;">
            <a *ngIf="connected" class="nav-link-inner--text" style="width: 10px; color: white;">{{profile.realwalladd}}</a>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngIf="!connected" (click) = "connect()">Connect Wallet</button>
            <button *ngIf="connected" ngbDropdownItem [routerLink]="['/profile']">Profile</button>
            <button ngbDropdownItem *ngIf="connected" [routerLink]="['/home']"  (click) = "disconnect()">Disconnect</button>
          </div>
        </div>
        
      </ul>
    </div>
  </div>
</nav>
