.glow {
    color: rgba(71, 209, 85, 0.803);
	filter: glow(2px);
	text-shadow: 0 0 10px rgba(71, 209, 85, 0.803),
				 0 0 20px rgba(71, 209, 85, 0.803),    
                 0 0 40px rgba(71, 209, 85, 0.803),
				 0 0 80px rgba(71, 209, 85, 0.803),
				 0 0 120px rgba(71, 209, 85, 0.803),
				 0 0 200px rgba(71, 209, 85, 0.803);
}

.background {
    /*background:url('../img/bg/diagonalnoise.png');*/
    
    width: 100%;
    background-image: url('../../assets/img/brand/wall1.jpg') !important;
    background-repeat:no-repeat;
    background-position: top left;
    background-size: 100%;
    position: relative;
}

.demo-bg {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

.hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(252,205,8);
    margin: 0 auto; padding: 0;
    box-shadow: 0px 0px 40px 5px rgb(252,205,8);
    width: 800px;
}

.hr-wrapper {
    width: 100%;
}

.hr1 {
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(252,205,8);
    margin: 0 auto; padding: 0;
    box-shadow: 0px 0px 40px 5px rgb(252,205,8);
    width: 800px;
}

.hr-wrapper1 {
    width: 100%;
}

.hr2 {
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(252,205,8);
    margin: 0 auto; padding: 0;
    box-shadow: 0px 0px 40px 5px rgb(252,205,8);
    width: 800px;
}

.hr-wrapper2 {
    width: 100%;
}

@keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 800px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .hr-animation {
      animation: separator-width 1s 1 ease-out forwards;
    }
  }

h5 {
  font-family: 'Manrope';
}

p {
  font-family: 'Manrope';
}

.cr:hover {
    border-color: rgb(57, 255, 77);
    border-width: 1px;
    border-style: solid;
    background-color: rgb(114, 1, 206);
    box-shadow: rgba(6, 249, 22, 0.25) 0px 54px 55px,
                rgba(6, 249, 22, 0.12) 0px -12px 30px, 
                rgba(6, 249, 22, 0.12) 0px 4px 6px, 
                rgba(6, 249, 22, 0.17) 0px 12px 13px, 
                rgba(6, 249, 22, 0.09) 0px -3px 5px;
    border-radius: 5px;
    transform: scale(1.05);
}


.card1 {
  border:1px solid #f47407 ;
  border-radius: 2em;
  box-shadow: 0px 0px 40px 5px #f47407;
    /*border-color: rgb(252,205,8);
    background-color: #f8ac03;
    border-width: 2px;
    position: relative;
    color: #fff;
    background: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;*/
  }

  p {
    font-size: 0.95rem;
    text-align: center;
  }

  span {
    position: absolute;
    border-radius: 100vmax;
  }

  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(57, 255, 77, 0.5),
      rgb(57, 255, 77)
    );
  }

  .bottom {
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 77),
      rgba(57, 255, 77, 0.5),
      transparent 50%
    );
  }

  .right {
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(57, 255, 77, 0.5),
      rgb(57, 255, 77)
    );
  }

  .left {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(57, 255, 77),
      rgba(57, 255, 77, 0.5),
      transparent 70%
    );
  }

  .top {
    animation: animateTop 3s ease-in-out infinite;
  }

  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }

  .right {
    animation: animateRight 3s linear infinite;
  }

  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }

  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }

    30%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }

    75% {
      opacity: 1;
      width: 100%;
    }

    76%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }

    50% {
      opacity: 1;
      height: 100%;
    }

    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }

  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      height: 100%;
    }
  }

  .socials {
    background-color: transparent;
    border-color: #f47407 ;
    border-radius: 5em;
    color: #f47407 ;
    border-width: 1px;
  }

  .socials:hover {
    background-color: #f47407 ;
    color: white;
  }

  .card1-ws {
    border:1px solid #f47407;
    border-radius: 2em;
      /*border-color: rgb(252,205,8);
      background-color: #f8ac03;
      border-width: 2px;
      position: relative;
      color: #fff;
      background: transparent;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1em;*/
    }


    @font-face {
      font-family: myFirstFont;
      src: url('../../assets/fonts/Purple\ Smile.ttf');
    }